version: 2
updates:
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  reviewers:
  - mimmi20
  - asgrim
  - jaydiablo
  versioning-strategy: increase-if-necessary
  ignore:
  - dependency-name: monolog/monolog
    versions:
    - ">= 0"
  - dependency-name: phpunit/phpunit
    versions:
    - ">= 0"
  - dependency-name: roave/doctrine-simplecache
    versions:
    - ">= 0"
  - dependency-name: symfony/cache
    versions:
    - ">= 0"
  - dependency-name: symfony/console
    versions:
    - ">= 0"
  - dependency-name: symfony/finder
    versions:
    - ">= 0"
  commit-message:
    prefix: Build
    include: scope
