version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:00"
    open-pull-requests-limit: 10
    reviewers:
      - "mimmi20"
      - "asgrim"
      - "jaydiablo"
    labels:
      - "dependencies"
    versioning-strategy: "increase-if-necessary"
    ignore:
      - dependency-name: "league/flysystem"
        versions:
          - ">= 0"
      - dependency-name: "monolog/monolog"
        versions:
          - ">= 0"
      - dependency-name: "psr/log"
        versions:
          - ">= 0"
      - dependency-name: "psr/simple-cache"
        versions:
          - ">= 0"
      - dependency-name: "symfony/console"
        versions:
          - ">= 0"
      - dependency-name: "symfony/filesystem"
        versions:
          - ">= 0"
    commit-message:
      include: "scope"
      prefix: "Build"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:00"
    open-pull-requests-limit: 10
    reviewers:
      - "mimmi20"
      - "asgrim"
      - "jaydiablo"
    labels:
      - "dependencies"
    commit-message:
      prefix: "github-actions"
