<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoversAnnotation="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    verbose="false"
    colors="true"
    failOnWarning="true"
    failOnRisky="true"
    bootstrap="vendor/autoload.php"
    enforceTimeLimit="false"
    executionOrder="default"
    resolveDependencies="true"
    >
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
    </php>

    <testsuite name="BrowscapPHP Test Suite">
        <directory>tests/</directory>
    </testsuite>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
