<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    colors="true"
    failOnWarning="true"
    failOnRisky="true"
    cacheDirectory=".phpunit.cache"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="-1"/>
    <ini name="date.timezone" value="UTC"/>
  </php>
  <testsuite name="BrowscapPHP Test Suite">
    <directory>tests/</directory>
  </testsuite>
  <coverage>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory>src/</directory>
    </include>
  </source>
</phpunit>
